@{
    Layout = "~/Views/Shared/_Layoutturizam.cshtml";
}

<div class="container">
    <h1>Apartmani Ante</h1>
    <h3>  Kuća i okućnica</h3>

    <!-- thumb navigation carousel -->
    <div class="col-md-12 hidden-xs" id="slider-thumbs">

        <!-- thumb navigation carousel items -->
        <ul class="list-inline">
            <li>
                <a id="carousel-selector-0" class="selected">
                    <img src="~/pics/DSC_0114thumb.jpg" class="img-responsive">
                </a>
            </li>
            <li>
                <a id="carousel-selector-1">
                    <img src="~/pics/DSC_0115thumb.jpg" class="img-responsive">
                </a>
            </li>
            <li>
                <a id="carousel-selector-2">
                    <img src="~/pics/DSC_0080thumb.jpg" class="img-responsive">
                </a>
            </li>
            <li>
                <a id="carousel-selector-3">
                    <img src="~/pics/gradele_thumb.jpg" class="img-responsive">
                </a>
            </li>
        </ul>

    </div>


    <!-- main slider carousel -->
    <div class="row">
        <div class="col-md-12" id="slider">

            <div class="col-md-12" id="carousel-bounding-box">
                <div id="myCarousel" class="carousel slide">
                    <!-- main slider carousel items -->
                    <div class="carousel-inner">
                        <div class="active item" data-slide-number="0">
                            <img src="~/pics/DSC_0114.jpg" class="img-responsive">
                        </div>
                        <div class="item" data-slide-number="1">
                            <img src="~/pics/DSC_0115.jpg" class="img-responsive">
                        </div>
                        <div class="item" data-slide-number="2">
                            <img src="~/pics/DSC_0080.jpg" class="img-responsive">
                        </div>
                        <div class="item" data-slide-number="3">
                            <img src="~/pics/gradele.jpg" class="img-responsive">
                        </div>
                    </div>
                    <!-- main slider carousel nav controls --> <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                </div>
            </div>
        </div>
    </div>
    <!--/main slider carousel-->


</div>