
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_LayoutRegistration.cshtml";
}


@model projekt0._1.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@Styles.Render("~/Content/styles-registration.css")

<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="well">Registracija</h1>
    <div class="col-lg-2"></div>
    <div class="col-lg-8 well">
        <div class="row">
            <form>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Ime</label>
                            <input type="text" placeholder="Ovdje unesite ime.." class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Prezime</label>
                            <input type="text" placeholder="Ovdje unesite prezime.." class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Korisničko ime</label>
                            <input type="text" placeholder="Ovdje unesite željeno korisničko ime.." class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Lozinka</label>
                            <input type="text" placeholder="Ovdje unesite željenu lozinku.." class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Ponovljena lozinka</label>
                            <input type="text" placeholder="Ovdje ponovo unesite željenu lozinku.." class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Adresa</label>
                            <textarea placeholder="Ovdje unesite adresu.." rows="2" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Grad</label>
                            <input type="text" placeholder="Ovdje unesite ime grada.." class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Država</label>
                            <input type="text" placeholder="Ovdje unesite ime države.." class="form-control">
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Poduzeće</label>
                            <input type="text" placeholder="Ovdje unesite ime poduzeća.." class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>OIB poduzeća</label>
                            <input type="text" placeholder="Ovdje unesite OIB poduzeća.." class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Titula</label>
                            <input type="text" placeholder="Ovdje unesite status.." class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Pozicija zapošljenja</label>
                            <input type="text" placeholder="Ovdje unesite radno mjesto.." class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Telefonski broj</label>
                            <input type="text" placeholder="Ovdje unesite telefonski broj.." class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Email adresa</label>
                            <input type="text" placeholder="Ovdje unesite email adresu.." class="form-control">
                        </div>
                    </div>
                    <button type="button" class="btn btn-lg btn-info">Registriraj</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
