<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Točka pokrića</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-frontpage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
					<li>
                        <a href="index.html">Početna</a>
                    </li>
                    <li>
                        <a href="about.html">O nama</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usluge <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="knjigovodstvo.html">Knjigovodstvo</a>
                            </li>
                            <li>
                                <a href="poslovno-savjetovanje.html">Poslovno savjetovanje</a>
                            </li>
                            <li>
                                <a href="turizam.html">Turizam</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html">Kontakt</a>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Poveznice <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="http://www.hnb.hr/">Hrvatska narodna banka</a>
                            </li>
                            <li>
                                <a href="http://web.hgk.hr/">Hrvatska gospodarska komora</a>
                            </li>
                            <li>
                                <a href="http://www.hitro.hr/Default.aspx">Hitro HR</a>
                            </li>
							<li>
                                <a href="http://www.fina.hr/Default.aspx">FINA</a>
                            </li>
							<li>
                                <a href="https://e-porezna.porezna-uprava.hr">ePorezna</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="extranet.html">Extranet</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">O nama</h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Početna</a>
                    </li>
                    <li class="active">O nama</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="pics/onama.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h2>O Točki pokrića</h2>
                <p>
				Poduzetnik ste pred kojeg se postavljaju mnoga pitanja na koja nemate zadovoljavajuće odgovore. Kadrovski niste dobro ekipirani i ne pokrivate sva područja znanja i vještina. 
				Vrijeme potrebno za razvoj poslovne ideje oduzimaju vam druge aktivnosti. Ne možete se fokusirati na bitno. Rezultati poslovanja su vam sve lošiji, a ne znate zbog čega. 
				Htjeli biste učiniti iskorak iz postojeće situacije, a ne znate kako. Pruža Vam se prilika da ugovorite novi posao, da izađete na nova tržišta ili da na tržište izbacite nove proizvode, a niste sigurni kako  to realizirati.</p> 
				<p>Navedeno je tek dio poduzetničke stvarnosti. </p>
				<p>Ako se i u Vašem poduzetničkom životu događa nešto od ovoga, treba Vam podrška sa strane.  U skladu s Vašim potrebama mi Vam možemo ponuditi vođenje poslovnih knjiga, porezno i pravno savjetovanje, 
				upravljanje ljudskim potencijalima, pregovaranje i sklapanje ugovora s poslovnim partnerima, internu  reviziju i kontrolu , potporu upravi i nadzornom odboru u upravljanju, projektiranje poslovnih procesa, 
				projektiranje organizacijske strukture, izradu  radnopravnih i organizacijskih akata, izradu poslovnih planova, studija izvedivosti, pripremu  projekata koji se financiraju iz EU fondova, vođenje predstečajnih nagodbi i 
				izradu planova restrukturiranja.</p> 
				<p>A za trenutke zasluženog odmora, Vama i Vašim suradnicima nudimo apartmane u Vodicama.  </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Naš tim</h2>
            </div>
			<div class="col-md-4 text-center">
				<div class="thumbnail">
                    <div class="caption">
                        <h3>Andreja Odak<br>
                            <small>Direktorica</small>
                        </h3>						
						<p>098/172-2360</p>
						<p>andreja.odak@tocka-pokrica.hr</p>
                    </div>    
				</div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">                    
                    <div class="caption">
                        <h3>Matija Odak<br>
                            <small>Ekonomist</small>
                        </h3>                        
						<p>098/1374-238</p>
						<p>matija.odak@tocka-pokrica.hr</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">                    
                    <div class="caption">
                        <h3>dipl.iur. Ivan Odak<br>
                            <small>Pravnik</small>
                        </h3>                        
						<p>098/353-213</p>
						<p>ivan.odak@tocka-pokrica.hr</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">                    
                    <div class="caption">
                        <h3>univ.bacc.ing.comp. Luka Odak<br>
                            <small>Tehnička podrška</small>
                        </h3>                        
						<p>098/1891-380</p>
						<p>luka.odak@tocka-pokrica.hr</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">                    
                    <div class="caption">
                        <h3>Marko Odak<br>                           
                        </h3>                        
						<p>099/500-4593</p>
						<p>marko.odak@tocka-pokrica.hr</p>
                    </div>
                </div>
            </div>
                        
        </div>
        <!-- /.row -->

        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Naši partneri</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://www.autoskola-rotor.hr/Portals/0/Images/logo_mali.png" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://www.tiskara-reprint.hr/images/logo.png" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://zanin-centar.com/wp-content/uploads/2014/06/Zanin_v32.png" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://www.omv-indoil.hr/components/com_ponygallery/img_thumbnails/11_20070207_2097570980.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://www.novifaktor.hr/templates/yoo_bigeasy/images/nf-header.png" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://www.1aplusemc2.com/wp-content/uploads/2014/03/logo-piramida-web-horizontal-banner2.png" alt="">
            </div>
			<div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://www.iiczagabria.esteri.it/NR/rdonlyres/A71DCA67-DCE5-4672-859D-5B7850D8A4C5/89004/logo1.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->

		
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Točka pokrića 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>