
@{
    ViewBag.Title = "Zakoni";
    Layout = "~/Views/Shared/_AlatiPartial.cshtml";
}

<h2>Obavjesti, pravila, zakoni</h2>

<div class="container col-sm-8">
    <div class="bs-callout bs-callout-danger">
        <h4>Plaćanje u postupku trgovanja otpadom na malo isključivo na žiro račun</h4>
        <p>Utorak, 08.12.2015.</p>
        <p>
            Izmjene Pravilnika o gospodarenju otpadom (Nar. nov., br. 121/15.) koje su stupile na snagu 4. prosinca 2015. doživjele su isti dan i svoj ispravak. Naime, u izmijenjenom čl. 10. st. 9.
            navedenog pravilnika bilo je propisano da se plaćanje u postupku trgovanja otpadom na malo obavlja putem žiro-računa ili na drugi zakoniti način sukladno posebnom propisu. Međutim, u Narodnim
            novinama br. 132. od 4. prosinca 2015. objavljen je ispravak navedenog pravilnika prema kojem je plaćanje za otkupljeni otpad fizičkim osobama (građanima) određeno isključivo na žiro-račun.
        </p>
        <p>
            U časopisu RRiF br. 12/15. u članku pod nazivom Nema više otkupa otpada za gotovinu naveli smo da se plaćanje za otkupljeni otpad može obaviti na žiro-račun ili na tekući račun jer je prema
            tada objavljenim izmjenama Pravilnika o gospodarenju otpadom tako proizlazilo. Molimo čitatelje da ovu izmjenu pravilnika uzmu u obzir, tj. da navedenu isplatu obavljaju „isključivo na žiro-račun“.
        </p>
    </div>
    <br>

    <div class="bs-callout bs-callout-danger">
        <h4>Darovanje (doniranje) hrane za humanitarne potrebe</h4>
        <p>Petak, 04.12.2015.</p>
        <p>
            edna od novosti koja proizlazi iz izmjene i dopune Pravilnika o porezu na dodanu vrijednost  (Nar. nov. br. 130/15), a koja  stupa na snagu 8. prosinca  2015. jest  i neoporezivanje
            prometa dobara kada se daruje hrana za ljude i hrana za životinje  isključivo neprofitnim pravnim osobama koje u svojim programima imaju humanitarnu djelatnost.
        </p>
        <p>
            Uvjeti za to su da je riječ o hrani kojoj  je rok uporabe  pred  istekom trajanja  čime se sprječava njeno uništavanje, a vrijednost darovanja svodi se na 2% od ukupnog prihoda/primitaka prethodne godine,
            pa će time biti i porezno priznan trošak i glede poreza na dobitak. Postoji i iznimka za porezne obveznike koji započnu poslovati  kojima se svota  darovanja (doniranja)
            određuje prema  2% prihoda tekuće poslovne godine.
        </p>
        <p>
            Vrijednost darovane robe/proizvoda određuje se nabavnoj (proizvodnoj) cijeni. O vrijednosti darovanja izvješćuje se Porezna uprava na obrasacu DONH.
            Prvo izvješće za darovanu hranu u 2015.podnijet će se do 20. lipnja 2016.
        </p>
    </div>
    <br>

    <div class="bs-callout bs-callout-danger">
        <h4>Odgoda primjene propisanog računskog (kontnog) plana u 2016.</h4>
        <p>Ponedjeljak, 23.11.2015.</p>
        <p>
            Propisivanje računskog plana u ovlasti je Odbora za standarde financijskog izvještavanja (čl. 11. novog Zakona o računovodstvu). Idejni tvorci takvog propisivanja nisu očekivali žestoku
            reakciju poduzetnika koji su se usprotivili novim i nerazumnim troškovima promjene računalnih programa i dr.
        </p>
        <p>
            Zahvalu za odgodu primjene propisanog računskog plana možemo uputiti Hrvatskoj udruzi poslodavaca koja je izvršila pritisak na Ministarstvo financija koje je pak obećalo
            kako će s formiranjem nove Vlade pripremiti Uredbu o izmjeni Zakona o računovodstvu u vezi s odgodom propisivanja kontnog plana.
        </p>
        <p>
            RRiF je pripremio i otisnuo svoj Računski plan za poduzetnike (XX. izdanje) za 2016. godinu, a na temelju novog Pravilnika o strukturi i sadržaju financijskih izvještaja.
            Svi dosadašnji korisnici našeg računskog plana mogu spokojno dočekati 2016. jer u bitnom dijelu za većinu poduzetnika taj računski plan nema većih razlika u odnosu na prethodno izdanje.
            Sudionici poduzetničkog seminara (koji počinju 30. XI. do 9. XII.) u vezi s pripremama računovodstva za 2016. i za izradu poreznih i financijskih izvještaja dobit će u
            okviru seminarskog  materijala novo (XX.) izdanje RRiF-ovog računskog plana za primjenu od 2016.
        </p>
    </div>
    <br>

    <div class="bs-callout bs-callout-danger">
        <h4>Energetski certifikat</h4>
        <p>Petak, 13.11.2015.</p>
        <p>
            Zakon o gradnji propisuje izdavanje energetskog certifikata za zgrade, odnosno njezina posebnog dijela za koji je potrebno koristiti energiju za održavanje
            unutarnje projektne temperature u skladu s njezinom namjenom, osim za:
        </p>
        <ul>
            <li>zgradu koja ima rok uporabe dvije godine i manje,</li>
            <li>zgradu namijenjenu održavanju vjerskih obreda,</li>
            <li>zgradu ukupne korisne površine manje od 50 m2</li>
            <li>industrijske zgrade, radionice i nestambene poljoprivredne zgrade s malim energetskim potrebama.</li>
        </ul>
        <p>
            Zakon od 1. siječnja 2016. obvezuje svakog vlasnika zgrade, odnosno njezinih posebnih dijelova za koje je propisano izdavanje energetskog certifikata, da:
        </p>
        <ul>
            <li>prije iznajmljivanja, davanja u zakup ili davanja na leasing zgrade ili njezinoga posebnog dijela pribave energetski certifikat,</li>
            <li>najmoprimcu, zakupcu, odnosno primatelju leasinga nakon sklapanja ugovora predaju energetski certifikat ili njegovu fotokopiju,</li>
            <li>energetski certifikat predoče mogućem najmoprimcu, zakupcu, odnosno primatelju leasinga,</li>
            <li>u oglasu za iznajmljivanje, davanje u zakup ili davanje na leasing zgrade ili njezina posebnog dijela koji se objavljuje u medijima navedu energetski razred zgrade.</li>
        </ul>
        <p>
            Isto tako, ovlašteni posrednik u prometu nekretnina obvezan je u oglasu o iznajmljivanju, davanju na leasing ili u zakup zgrade, odnosno njezina posebnog dijela, 
            koji se objavljuje u medijima, navesti energetski razred zgrade, odnosno njezina posebnog dijela.
        </p>
    </div>
</div>